body{
  background-color: antiquewhite;
}
h1{
  text-align: center;
  color: darkcyan;
  font-size: 3rem;
}
th{
  color: firebrick;
  font-size: 2.5rem;
  padding: 15px;
}
td{
  border: 3px solid black;
  padding: 10px;
  text-align: center;
  background-color: goldenrod;
  color: indigo;
  font-weight: 700;
}
table{
  margin: auto;
}
.key{
  background-color: burlywood;
  font-size: 1.5rem;
  font-weight: 900;
}
h2{
  color: firebrick;
  font-size: 2.25rem;
  padding: 15px;
  text-align: center;
}
ul{
  margin: auto;
  text-align: center;
  background-color: burlywood;
  width: 35vw;
  padding: 0;
}
li{
  list-style-type: none;
  list-style-position: outside;
  border-left: 10px solid goldenrod;
  color: indigo;
  font-weight: 800;
  padding: 5px;
}
